<app-anime-clue-guess
	[answerCharacter]="answerCharacterSplash"
	[answerKey]="'name'"
	[stageImagesKey]="'splashStages'"
	[firstClueUnlockWrongGuesses]="3"
	[secondClueUnlockWrongGuesses]="6"
	[heading]="'Guess the anime'"
	[subtitle]="'Original image is available first. Clue 1 unlocks at 3 wrong guesses and Clue 2 at 6.'"
	[placeholder]="'Guess the anime title...'"
	[searchResults]="searchResults"
	[searchResultKey]="'name'"
	(answerGuessed)="onAnswerGuessed($event)"
	(searchTermChanged)="onSearchTermChanged($event)"
></app-anime-clue-guess>

@if (solvedCharacterName) {
	<p class="solved-copy">You solved it with {{ solvedCharacterName }}.</p>
}
