/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card: 224 71% 4%;
  --card-foreground: 213 31% 91%;
  --dark-blue: #030711;
  --muted-foreground: 215 20% 65%;
  --accent-foreground: 220 40% 2%;
  --destructive: 0 62.8% 50.6%;
  --destructive-foreground: 210 40% 98%;
  --background: 230 20% 10%;
  --tw-border-opacity: 1;
}

.bg-card {
    background-color: hsl(var(--card));
}
.bg-destructive {
  background-color: hsl(var(--destructive));
}

.text-muted-foreground {
  color: hsl(var(--muted-foreground));
}
.text-accent-foreground {
  color: hsl(var(--accent-foreground));
}
.text-destructive-foreground {
  color: hsl(var(--destructive-foreground));
}

.bg-background {
  background-color: hsl(var(--background));
}

.text-card-foreground {
    background-color: hsl(var(--card-foreground));
}

.text-gaming-neon-pink {
  --tw-text-opacity: 1;
  color: rgb(255 45 182 / var(--tw-text-opacity));
}

.text-gaming-neon {
  --tw-text-opacity: 1;
  color: rgb(0 255 221 / var(--tw-text-opacity));
}

.bg-gaming-neon\/10 {
  background-color: #00ffdd1a;
}
.bg-gaming-neon-pink\/10 {
  background-color: #ff2db61a;
}

.bg-darkblue {
  --tw-bg-opacity: 1;
  background-color: var(--dark-blue);
}

.border-gaming-neon-pink {
  --tw-border-opacity: 1;
  border-color: rgb(255 45 182 / var(--tw-border-opacity));
}

.scroll-custom::-webkit-scrollbar {
  width: 8px;
}
.scroll-custom::-webkit-scrollbar-track {
  background: rgba(128, 90, 213, 0.1); /* Purple-500/10 */
}
.scroll-custom::-webkit-scrollbar-thumb {
  background-color: rgba(168, 85, 247, 0.5); /* Purple-500/50 */
  border-radius: 10px;
}

.custom-dialog-container{
  padding: 2%;
  border: none;
  border-radius: 8px;
}

.custom-backdrop {
  @apply backdrop-blur-sm bg-black/40;
}

.mat-snack-bar-container.success {
  background-color: #22c55e; // Tailwind green-500
  color: #fff;
}

.mat-snack-bar-container.error {
  background-color: #ef4444; // Tailwind red-500
  color: #fff;
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
