<div class="time-shell">
  <div class="time-top">
    <div class="hint-pill">HINT {{ minHints }} / {{ maxHints }}</div>

    <div class="time-center mb-2 ">
      <div class="time-circle">
        <span>{{ formattedTime }}</span>
      </div>
    </div>

    <div class="time-right">
      <span class="brand-title">GUESSX</span>
      <button class="skip-btn" type="button" (click)="onSkip()" aria-label="Skip">
        <mat-icon>logout</mat-icon>
      </button>
      <!-- START BUTTON  -->
      @if (isCurrentUserOwner()) {
        <button class="create-btn" type="button" (click)="onStartGame()" aria-label="Start Game">Start Game</button>
      }
    </div>
  </div>

  <div class="timeline-track">
    <div
      class="timeline-fill"
      [style.width.%]="progress2"
      [style.background]="progress > 66 ? '#39ff14' : progress > 33 ? '#ffd84d' : '#ff4d8d'"
      style="transition: width 50ms linear"
    ></div>
  </div>
</div>
