<!-- CONTENIDO SCROLLABLE -->
<div class="flex-1 overflow-y-auto space-x-6 flex p-4">

  <!-- PREVISUALIZACIÓN DE IMAGEN -->
  <div *ngIf="selectedImage" class="w-1/3 aspect-video overflow-hidden flex-shrink-0">
    <img [src]="selectedImage.imageUrl" class="w-full h-full object-cover border border-gaming-neon-pink" />
  </div>

  <!-- CONTENIDO A LA DERECHA -->
  <div class="w-2/3 space-y-6 overflow-y-auto pr-2 flex flex-col scroll-custom">

    <!-- INPUT TÍTULO PRINCIPAL -->
    <div class="pb-2 flex  gap-2 flex-col">
      <h2 class="text-xl font-gaming text-gaming-neon mb-2">Título</h2>

      <input [formControl]="titleControl"
        class="text-xl font-gaming bg-background border border-gaming-neon-pink px-2 py-1 text-white focus:outline-none focus:ring-2 focus:ring-gaming-neon-pink focus:border-gaming-neon-pink"
        type="text" placeholder="Título principal" />
    </div>

    <!-- TÍTULOS ALTERNATIVOS -->
    <div>
      <h2 class="font-gaming text-gaming-neon mb-2">Títulos alternativos</h2>
      <form [formGroup]="titlesForm">
        <div formArrayName="titlesArray" class="space-y-2">
          <div *ngFor="let titleGroup of titlesArray.controls; let i = index" [formGroupName]="i"
            class="flex items-center gap-2">
            <input matInput formControlName="title" placeholder="Título"
              class="flex-grow bg-background border border-gaming-neon-pink px-2 py-1 text-white focus:outline-none focus:ring-2 focus:ring-gaming-neon-pink focus:border-gaming-neon-pink" />
            <button mat-icon-button color="warn" type="button" (click)="removeTitleInput(i)"
              aria-label="Eliminar título">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
        <button mat-mini-fab color="primary" type="button" class="mt-2" (click)="addTitleInput()"
          aria-label="Agregar título">
          <mat-icon>add</mat-icon>
        </button>
      </form>
    </div>

    <!-- GÉNEROS -->
    <div>
      <h2 class="font-gaming text-gaming-neon mb-2">Géneros</h2>
      <mat-chip-listbox multiple [formControl]="genresControl" class="mat-mdc-chip-set-stacked">
        <mat-chip-option *ngFor="let genre of defaultGenres" [value]="genre">
          {{ genre }}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>

    <!-- MINIATURAS DE IMÁGENES -->
    <div>
      <div class="flex items-center mb-2">
        <h2 class="font-gaming text-gaming-neon mr-2">Imágenes</h2>
        <span *ngIf="getSelectedImagesCount() > 0" class="text-sm text-gaming-neon-pink">
          {{ getSelectedImagesCount() }} imagenes seleccionadas
        </span>
      </div>
      <div class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 gap-3">
        <div class="relative overflow-hidden aspect-video cursor-pointer border-2" [ngClass]="{
      'border-gaming-neon-pink': isSelected(image),
      'border-transparent': !isSelected(image)
      }" *ngFor="let image of imagesUrls" (click)="selectAndPreview(image)">
          <img [src]="image.imageUrl" class="w-full h-full object-cover" />
          <input type="checkbox" class="absolute top-1 left-1 z-10 w-4 h-4 accent-pink-500"
            [checked]="isSelected(image)" (change)="toggleSelection(image)" (click)="$event.stopPropagation()" />
        </div>
      </div>
    </div>

   
  </div>

</div>

<div class="mt-auto pt-4 flex justify-end gap-2 p-4">
  <button (click)="selectAll()"
  class="inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none disabled:opacity-50 border border-gaming-neon-pink bg-background hover:text-accent-foreground h-9 rounded-md px-3 text-gaming-neon-pink hover:bg-gaming-neon-pink/10">
  Seleccionar todo
  </button>
  <button (click)="save()"
  class="inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm font-medium ring-offset-background transition-colors border border-gaming-neon-pink text-destructive-foreground hover:bg-destructive h-9 rounded-md px-3">
  Guardar
  </button>
</div>  