<div class="panel-surface leaderboard-shell">
  <div class="panel-header">
    <h3 class="panel-title">Leaderboard</h3>
  </div>
  <div class="leaderboard-body">
    @for (user of users; track $index) {
      <div class="lb-row">
        <div class="lb-left">
          <span class="lb-rank">{{ $index + 1 }}</span>
          <div class="lb-avatar">{{ user.name.charAt(0) }}</div>
          <p class="lb-name">{{ user.name }}</p>
        </div>
        <span class="lb-score">{{ user.score }}</span>
      </div>
    }
  </div>
</div>
