<div class="page-container">
  <header class="room-header ">
    <app-time-bar
      #timerBar
      [roundDuration]="roundDuration"
      [currentHint]="currentHint"
      [maxHints]="maxHints"
      [roomState]="roomState"
      (skip)="handleSkip()"
      (timeEnded)="handleTimeEnd()"
      (startGame)="handleStartGame()"

    ></app-time-bar>

    <!-- <div class="room-id-pill">ROOM {{ roomId || "---" }}</div> -->
  </header>

  <main class="main-container">
    <aside class="side-panel leaderboard-panel anime-border glass-panel">
      <app-leaderboard [users]="roomState?.users || []"></app-leaderboard>
    </aside>

    <section class="image-viewer-container anime-border">
      <app-image-viewer
        [currentHint]="currentHint"
        [maxHints]="maxHints"
        [showSquareAt]="showSquareAt"
        [roomState]="roomState"
        [animeInformation]="animeInformation"
      />
    </section>

    <aside class="side-panel chat-panel anime-border glass-panel">
      <app-chat [animeInformation]="animeInformation" [roomId]="roomId"></app-chat>
    </aside>
  </main>
</div>
