<div class="grid grid-cols-2 h-screen page-container bg-card">

  <main class="main-container grid grid-cols-2 h-screen">
    <!-- image view container -->
    <div class="image-viewer-container rounded-lg">
      <app-image-viewer></app-image-viewer>
    </div>

    <!-- Contenedor derecho con distribución de altura -->
    <div class="flex flex-col h-full side-bar">
      <!-- Chat: 50% -->
      <section class="basis-1/2 overflow-hidden chat rounded-lg">
        <app-chat></app-chat>
      </section>

      <!-- Leaderboard: 30% -->
      <section class=" overflow-hidden leaderboard rounded-lg">
        <app-leaderboard></app-leaderboard>
      </section>

      <!-- Active Players: 20% -->
      <section class="overflow-hidden active-players rounded-lg">
        <app-active-players></app-active-players>
      </section>
    </div>

  </main>

</div>
