.side-bar {
  display: grid;
  gap: 10px;
  height: 85%;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #0b0c15;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.image-viewer-container {
  border: 1px solid #02524f;
  height: 85%;
  width: 45%;
}
.chat,
.leaderboard,
.active-players {
  border: 1px solid #02524f;
}
