<div class="image-viewer-container rounded-lg">

  <!-- Titulo -->
    <header class="flex items-between justify-between my-2 bg-card rounded-t-lg w-full">
      <section class="flex items-center">
        <div class="bg-gaming-neon/10 w-11 h-11 rounded-full flex items-center justify-center text-lg font-bold text-gaming-neon">
          AN
         </div>
         <div class="flex flex-col ml-2 mb-2">
           <p class="ml-1 text-xl font-gaming text-white font-bold">Anime Pixel Peak</p>
           <p class="ml-1 text-sm text-gray-300 text-muted-foreground">Room #1231</p>
         </div>
      </section>
      <section class="flex items-center justify-end gap-2">
        <p class="text-sm text-gray-400"> Total Players: 3</p>
        <button class="inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none disabled:opacity-50 border border-gaming-neon-pink bg-background hover:text-accent-foreground h-9 rounded-md px-3 border-gaming-neon-pink text-gaming-neon-pink hover:bg-gaming-neon-pink/10">
          How to Play
        </button>
        <button  class="inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm font-medium ring-offset-background transition-colors bg-destructive text-destructive-foreground hover:bg-destructive h-9 rounded-md px-3">
          Leave Room
        </button>
      </section>

    </header>

  <app-time-bar [roundDuration]="1" [currentHint]="currentHint" [maxHints]="maxHints" (skip)="handleSkip()"
    (timeEnded)="handleTimeEnd()"></app-time-bar>

  <h1 class="image-viewer-anime-name pt-2">
    <ng-content *ngIf="isMaximunHintsReached()">
      {{animeInformation.name}}
    </ng-content>
  </h1>
  <section class="wrapper-image">
    <img #imgEl [src]="animeImageSrc" alt="Full image doesnt workg" />
    <canvas #maskCanvas class="mask-canvas"></canvas>
  </section>

</div>
